<h1>Welcome to Le Bon Plan  </h1>

<nav>
    <a href="products/cities/paris">Paris</a>
    <a href="products/cities/lyon">Lyon</a>
    <a href="products/cities/marseille">Marseille</a>
    
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
</nav>